@import url(./_active/header__lang_active.css);

.header__lang {
  color: #fff;
  margin-left: 18px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
}

.header__lang:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .header__lang {
    font-size: 18px;
    line-height: 24px;
  }
}
